<div class="panel panel-default">
    <div class="panel-body">        
        <h2>File Uploader</h2>        
        <div class="ui blue progress" data-percent="0" id="file-upload-progress">
            <div class="bar">
                <div class="progress"></div>
            </div>        
        </div>
        <button class="ui button upload-btn" type="button">Upload File</button>
    </div>
</div>
<input id="upload-input" type="file" name="uploads[]" multiple="multiple"></br>
<audio id="audio" style="display: none;"></audio>